<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="jquery-3.3.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
</head>
    
<body>
<form method="post" action="board">
		<h3><div class="player1"></div></h3>
			<%= @player1 %>
			<% board_layout = @player1.board.grid %>
			<% row_label = @player1.board.grid_column %>
			<% column_label = @player1.board.grid_row %>

		    <table id="player1_table">
                <tr>
                <th> </th>
                <% row_label.each do |v|%>
         			<th><%= v %></th>
                <% end %>
                </tr>
           		
          
               	<% board_layout.each_with_index do |v, i| %>
                	<tr>
                   	<th><%= "#{column_label[i]}" %></th>
                    <% v.each do |v| %>
                    	<% v %>
						<td name="['<%= v.row %>', '<%= v.column %>']" id="<%= v.coordinates %>"><%= v.render_with_ships %></td>                    	
					<% end %>
					</tr> 
                <% end %>    
            </table>            
         </div>


        <h3><div class="opponent"></div></h3>
			<%= @opponent %>
			<% @targeting_queue = @opponent.coordinates_to_play.shuffle %>

			<% row_label = @opponent.board.grid_column %>
			<% column_label = @opponent.board.grid_row %>

			<% board_layout = @game.place_opponent_ships(player, difficulty) %>
		    <table id="opponent_table">
                <tr>
                <th> </th>
                <% row_label.each do |v|%>
                <th><%= v %></th>
                <% end %>
                </tr>
           
                <% board_layout.each_with_index do |v, i| %>
                    <tr>
                    <th><%= "#{column_label[i]} " %></th>
                        <% v.each_with_index do |v| %>
                        	<% v %>
                            <td name="['<%= v.row %>', '<%= v.column %>']" id="<%= v %>" class="<%= v.status %>"><%= v.render_with_ships %></td>
                        <% end %>
                    </tr>
                <% end %>  
            </table>            
         </div>
         
		<div class="start_page_button">
			<button class="button">Submit</button>
		</div>


</form>
<script>
// 	$(document).ready(function () {
//     $(document).on('mouseover', 'td', function () {
//         var offset = $(this).offset();
//         var html = '<div class="popup">' + $(this).text(this.id) + '</div>';
//         $('.popup').remove();
//         $(html).insertBefore('table');
//         $('.popup').css({ 'top': offset.top, 'left': offset.left }).fadeIn();
//     });
// });
</script>
</body>
</html>