<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div id="containter">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <!-- <script type="text/javascript" src="/js/scripts.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
  <body>
    <center>
      <!-- <div class="title">Battleship!!</div><br> -->
     
    <div class="grid-container">
    
    <div class="grid-item1">
      <%= yield %>
    </div>

    <div class="grid-item2">
      <%= erb :opponent_board %>
      <%= erb :player_board %>
      <%= erb :logo %>
      <%= erb :welcome_rules %>
    </div>
    
    </div>

    <br><p id="error_out" class="errormsg"></p>

  
  <footer>
      <a href='/new_game'>New Game</a>
</footer>
</center>
</body>
</div>
</html>

