<!doctype html>
<head>

</head>
<body>
    

<h1>Welcome to the Game, <%= @player1_name %>!</h1>
<h2>Let's Begin by Placing Your Ships.</h2>


<h3><div class="player1"></div></h3>
  
  <% board_layout = @player1_grid %>
  <% row_label = @grid_columns %>
  <% column_label = @grid_rows %>
 
    <div id="ship_selection">
      <div id="shipyard">
        Destroyer (5 Cells)<div class="ship" id="destroyer" draggable="true"></div>
        <div class="spacer"> </div>
        Battleship (2 Cells)<div class="ship" id="battleship" draggable="true"></div>
        <div class="spacer"> </div>
        Cruiser (3 Cells)<div class="ship" id="cruiser" draggable="true"></div>
        <div class="spacer"> </div>
        Submarine (4 Cells)<div class="ship" id="submarine" draggable="true"></div>
      </div>
    </div>

    <div >
      <table>
            <tr>
            <th> </th>
            <% row_label.each do |v|%>
          <th><%= v %></th>
            <% end %>
            </tr>
          
      
            <% board_layout.each_with_index do |v, i| %>
              <tr>
                <th><%= "#{column_label[i]}" %></th>
                <% v.each do |v| %>
                  <% v %>
        <td class="board" name="cell_coordinates" id="['<%= v.row %>', '<%= v.column %>']"><%= v.render_with_ships %></td>                     
      <% end %>
      </tr> 
    <% end %>    
        </table>  
      </div>
  </div>   
 </div>
   

     

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script>
   $(function () {
   //  var board = "";
   //  for (var i = 0; i < 100; i++) {
   //   board += "<div class='sea_box' id='pos" + i + "'></div>";
   //   }
   //  $(".board").append(board);

    $('.ship').draggable({
      addClasses: false,
      containment: '.board',
      // snap: ".sea_box",
      grid: [30, 30],
      revert: "invalid"

    });

    // on drop append ship
    $('.board').droppable({
      hoverClass: "red",
      drop: function (event, ui) {
        console.log("droppable " + $(this).attr("id"));
      },
    });
    
    // change orientation
    $('.ship').dblclick(function () {

      var ship_id = $(this).attr("id");
      var height = $(this).css("height");
      var width = $(this).css("width");

      ship_id = ship_id.charAt(ship_id.length - 1 ) == 'V' ? ship_id.slice(0, -1) : ship_id + "V";

      $(this).css("height", width);
      $(this).css("width", height);
      $(this).attr("id", ship_id);

    });
     })     
    //example of setting ship 
     // $('#pos11').append($('#cruiser')) 
</script>
<form method="post" action='/place_ship'>
 <button class="button">Submit</button>
</form>
 
</body>
<footer>
  <!-- <script src="jquery-3.3.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
 -->


</footer>
