<!doctype html>
<head>
  <!-- <script src="/js/main.js"></script> -->

</head>
<body>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
   $(function () {
   //  var board = "";
   //  for (var i = 0; i < 100; i++) {
   //   board += "<div class='sea_box' id='pos" + i + "'></div>";
   //   }
   //  $(".board").append(board);

    $('.ship').draggable({
      addClasses: false,
      containment: '.table',
      snap: ".board",
      grid: [30, 30],
      revert: "invalid"

    });

    // on drop append ship
    $('.board').droppable({
      hoverClass: "red",
      drop: function (event, ui) {
        console.log("droppable " + $(this).attr("id"));
      },
    });
    
    // change orientation
    $('.ship').dblclick(function () {

      var ship_id = $(this).attr("id");
      var height = $(this).css("height");
      var width = $(this).css("width");

      ship_id = ship_id.charAt(ship_id.length - 1 ) == 'V' ? ship_id.slice(0, -1) : ship_id + "V";

      $(this).css("height", width);
      $(this).css("width", height);
      $(this).attr("id", ship_id);

    });
     // $('#["A", "1"]').append($('#cruiser')) 

     })     
    //example of setting ship 

</script>

<h2>Welcome to the Game, <%= @player1_name %>!</h2>
<h3>Let's Begin by Placing Your Ships.</h3>

<!-- <h3><div class="player1"></div></h3> -->

<div id="ship_selection">
      <div id="shipyard">
        Destroyer<div name="destroyer" class="ship" id="destroyer"  ></div>
        <div class="spacer"> </div>
        Battleship<div name="battleship" class="ship" id="battleship" ></div>
        <div class="spacer"> </div>
        Cruiser<div name="cruiser" class="ship" id="cruiser" ></div>
        <div class="spacer"> </div>
       Submarine <div name="submarine" class="ship" id="submarine" ></div>
      </div>
</div>

  <% board_layout = @player1_grid %>
  <% row_label = @grid_columns %>
  <% column_label = @grid_rows %>

  <div>
      <table class="table">
            <tr>
            <th> </th>
            <% row_label.each do |v|%>
          <th><%= v %></th>
            <% end %>
            </tr>
          
      
            <% board_layout.each_with_index do |v, i| %>
              <tr>
                <th><%= "#{column_label[i]}" %></th>
                <% v.each do |v| %>
                  <% v %>
        <td class="board" name="cell_coordinates" id="['<%= v.row %>', '<%= v.column %>']" value="['<%= v.row %>', '<%= v.column %>']" form="cell_coordinates"><%= v.render_with_ships %></td>                     
      <% end %>
      </tr> 
    <% end %>    
        </table>  
  </div>
  <!-- </div>    -->
<form method="post" action="/all_ships_placed" id="cell_coordinates">
 <button>Submit</button>
</form>
   

     



 
</body>
<footer>
 

</footer>