
<h1>Welcome to the game, <%= @player1_name %>!</h1>
<h2>Let's begin by placing your ships.</h2>
<h3>Please Enter Coordinates for Your <%=@ship_type%> (Length = <%=@ship_size%> Cells):</h3>

<p>Start Point:</p>
<p><select name="row" form="place_ship_coordinates">
  <% if @grid_size == 12 %>
      <% [*"A".."L"].each do |row| %>
        <option value=<%= row %>><%= row %></option>
      <% end %>
  <% end %>
  <% if @grid_size == 24 %>
      <% [*"A".."X"].each do |row| %>
        <option value=<%= row %>><%= row %></option>
      <% end %>
  <% end %>
  <% if @grid_size == 36 %>
      <% alphabet = "abcdefghijklmnopqrstuvwxyz".upcase.scan(/\w/) %>
      <% alphabet << "AA" << "BB" << "CC" << "DD" << "EE" << "FF" << "GG" << "HH" << "II" << "JJ" %>
      <% [*alphabet].each do |row| %>
        <option value=<%= row %>><%= row %></option>
      <% end %>
  <% end %>
</select>

<select name="column" form="place_ship_coordinates">
  <% if @grid_size == 12 %>
    <% [*1..12].each do |column| %>
      <option value=<%= column %>><%= column %></option>
    <% end %>
  <% end %>
  <% if @grid_size == 24 %>
    <% [*1..24].each do |column| %>
      <option value=<%= column %>><%= column %></option>
    <% end %>
  <% end %>
  <% if @grid_size == 36 %>
    <% [*1..36].each do |column| %>
      <option value=<%= column %>><%= column %></option>  
    <% end %>
  <% end %>
</select></p>


<form method="post" action='/place_ship' id="place_ship_coordinates">
<p>Orientation:</p>

  <p><input type="radio" name="orientation" value="horizontal" id="horizontal" checked required> Horizontal</p>
  <p><input type="radio" name="orientation" value="vertical" id="vertical"> Vertical</p>
  <input type="submit" value=<%="Submit"%> />
</form>