<h1><%= @winner %> </h1>
<h2><%= @winner_shots_fired %> = Shots Fired by <%= @winner_name %></h2>
<h2><%= @loser_shots_fired %> = Shots Fired by <%= @loser_name %></h2>

<a href='/new_game'>Play Again</a>