<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="jquery-3.3.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
</head>
    
<body>
<form method="post" action="board_setup">
	<h3> It's time to place your ships! </h3>
	<p> You may only place a ship horizontally or vertically, never diagonally, and you cannot overlap ships. </p>
		
		<% board_layout = @game.player1_add_ships(player, difficulty) %>

	
		<p> Where would you like to place your <%= @game.player1(player, difficulty).ship.type.capitalize %> Ship  </p>
		<p><input type="input" name="row" class="<%= @game.player1(player, difficulty).ship.type %>" placeholder="Starting Coordinate: Row" pattern=[a-zA-Z]>
		<input type="input" name="column" class="<%= @game.player1(player, difficulty).ship.type %>" placeholder="Starting Coordinate: Column" pattern=[0-9]></p>
		<p><input type="checkbox" name="orientation" value="horizontal" id="horizontal" checked>Horizontal
  		<input type="checkbox" name="orientation" value="vertical" id="vertical">Vertical</p>
  		<p><button class="button" name="<%= @game.player1(player, difficulty).ship.type %>">Submit</button></p>
	
		<h3><div class="player1"></div></h3>
			<div class="<%= @game.player1(player, difficulty) %>"><%= @game.player1(player, difficulty).player %></div>
			
			<% board_layout = @game.player1(player, difficulty).board.grid %>
			<% row_label = @game.player1(player, difficulty).board.grid_column %>
			<% column_label = @game.player1(player, difficulty).board.grid_row %>

		    <table id="player1_table">
                <tr>
                <th> </th>
                <% row_label.each do |v|%>
         			<th><%= v %></th>
                <% end %>
                </tr>
           		
          
               	<% board_layout.each_with_index do |v, i| %>
                	<tr>
                   	<th><%= "#{column_label[i]}" %></th>
                    <% v.each do |v| %>
                    	<% v %>
						<td name="cell_coordinates" class="['<%= v.row %>', '<%= v.column %>']" id="<%= v.coordinates %>"><%= v.render_with_ships %></td>                    	
					<% end %>
					</tr> 
                <% end %>    
            </table>            
         </div>

        
        <h3><div class="opponent"></div></h3>
			<div class="<%= @game.opponent(player, difficulty) %>"><%= @game.opponent(player, difficulty).player %>
			<% @targeting_queue = @game.opponent(player, difficulty).coordinates_to_play.shuffle %>

			<% row_label = @game.opponent(player, difficulty).board.grid_column %>
			<% column_label = @game.opponent(player, difficulty).board.grid_row %>

			<% board_layout = @game.place_opponent_ships(player, difficulty) %>
		    <table id="opponent_table">
                <tr>
                <th> </th>
                <% row_label.each do |v|%>
                <th><%= v %></th>
                <% end %>
                </tr>
           
                <% board_layout.each_with_index do |v, i| %>
                    <tr>
                    <th><%= "#{column_label[i]} " %></th>
                        <% v.each_with_index do |v| %>
                        	<% v %>
                            <td name="['<%= v.row %>', '<%= v.column %>']" id="<%= v %>" class="<%= v.status %>"><%= v.render_with_ships %></td>
                        <% end %>
                    </tr>
                <% end %>  
            </table>            
         </div>
         
		<div class="start_page_button">
			<button class="button">Submit</button>
		</div>


</form>
<script>
// 	$(document).ready(function () {
//     $(document).on('mouseover', 'td', function () {
//         var offset = $(this).offset();
//         var html = '<div class="popup">' + $(this).text(this.id) + '</div>';
//         $('.popup').remove();
//         $(html).insertBefore('table');
//         $('.popup').css({ 'top': offset.top, 'left': offset.left }).fadeIn();
//     });
// });
</script>
</body>
</html>